<div id="follow_form">
  <% if current_user.following? @user %>
    <p>フォローしています</p>
    <%= link_to "UnFollow", {controller: :users,action: :unfollow,user_id: @user.id},class: "btn btn-dark", method: :put %>
  <% else %>
    <p>フォローしていません</p>
    <%= link_to "Follow", {controller: :users,action: :follow,user_id: @user.id},class: "btn btn-dark", method: :put %>
  <% end %>
  </div>

<%#フォローしてたらフォロー解除ボタンを、フォローしてなかったらフォローボタンを表示 %>