<% if @user != nil %>
  <% @user.followers.each do |user| %>
    <ul>
      <li class="itiran"><%= link_to user.name, user_path(user) %><%= gravatar_for user %></li>
    </ul>
  <% end %>
<% end %>

<% if @user == nil %>
  <p>フォロされているユーザーは存在しません。</p>
<% end %>